/* css page for cave noire website */

/* CSS for responsive menu demo */

/* define variables */
:root {
    --nav-bkgd-color: black;
    --nav-text-color: white;
    --nav-hover-bkgd-color: lightgray;
    --nav-hover-text-color: black;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--nav-bkgd-color);
}

#navBurger {
    position: relative;
    display: block;
    font-size: 2rem;
    color: var(--nav-text-color);
    padding: 0.1em 0 0 0.3em;
    max-height: 2rem;
}

nav ul {
    position: relative;
    background-color: var(--nav-bkgd-color);
    list-style: none;
    margin: 0;
    padding: 0;
}

nav>ul {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

nav.clicked>ul {
    max-height: 90vh;
}

nav>ul>li {
    position: relative;
    background-color: var(--nav-bkgd-color);
    display: block;
    margin: 1rem;
}

nav>ul>li>a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

nav>ul>li>a::after {
    position: absolute;
    content: "⌄";
    right: 0.3rem;
    top: 0.2rem;
    color: inherit;
    font-size: 110%;
}

nav>ul>li>ul {
    margin: 0 0 0 1rem;
    background-color: inherit;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

nav>ul>li.clicked>ul {
    max-height: 90vh;
}


nav a {
    text-decoration: none;
    color: var(--nav-text-color);
    
}

nav>ul>li>ul>li:hover {
    background-color: var(--nav-hover-bkgd-color);
}

nav>ul>li>ul>li:hover a {
    color: var(--nav-hover-text-color);
}


/* ----- MEDIA QUERY for landscape/desktop layout ----- */
@media screen and (orientation: landscape) {

    #navBurger {
        display: none;
    }

    nav>ul {
        overflow: visible;
        width: 100%;
        display: flex;
        
        justify-content: flex-end;
    }

    nav>ul>li {
        float: left;
        margin: 0.5rem;
    }

    nav>ul>li a {
        padding-right: 0.5rem;
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
        
    }

    nav>ul>li>ul {
        margin: 0 0.5rem 0.5rem 0;
        visibility: hidden;
        position: absolute;
    }

    nav>ul>li.clicked>ul {
        display: block;
        visibility: visible;
    }

    nav>ul>li>ul li {
        margin: 0;
        white-space: nowrap;
    }

    nav>ul>li>a::after {
        content: "";
    }

    nav a {
        height: 100%;
        padding: 0 30px;
        display: flex;
        align-items: center;
    }
    nav > ul > li {
        font-size: 1rem;
        font-family: ;
    }

}

#homebigimg {
    width: 70vw;
    max-width: 75vw;
    height: auto;

}

#logomain {
    position: relative;
    align-self: center center;
    height: 135px;
    width: 18vw;
    padding: 20px;
    background: none;
    position: absolute;
    object-fit: cover;
    object-position: bottom;
    
}
.nav-logo {
    width: 25vw;
    height: 55px;
    overflow: hidden;
    position:absolute;
    margin: 0 -1rem;
}
