main {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(13, auto);
    grid-template-areas:
    'title title title title title title'
    '. . . . . .'
    '. . . . . .'
    '. . . . . .'
    '. . . . . .'
    '. . . . . .'
    '. . . . . .'
    '. . . . . .'
    '. . . . . .'
    '. . . . . .'
    '. . . . . .'
    '. . . . . .'
    '. . . . . .';
}
#title { grid-area: title; 
    line-height: 0.75rem; 
    margin-bottom: 2rem;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 1rem;
}