main {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(13, auto);
    grid-template-areas:
    'h1 h1 h1 h1 h1 h1'
    '. . . . . .'
    '. . . . . .'
    '. . . . . .'
    '. . . . . .'
    '. . . . . .'
    '. . . . . .'
    '. . . . . .'
    '. . . . . .'
    '. . . . . .'
    '. . . . . .'
    '. . . . . .'
    '. . . . . .';
}
#title { grid-area: title; }