main {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(7, auto);
   grid-template-areas:
        'title title title title title title'
        'p1 p1 p2 p2 p3 p3'
        'p4 p4 p5 p5 p5 p5'
        'p6 p6 p6 p7 p7 p7'
        'p8 p8 p8 p9 p9 p9'
        'p10 p10 p11 p11 p11 p11'
        'aB aB aB aB aB aB';

#title {
    grid-area: title;
    line-height: 0.75rem;
    margin-bottom: 2rem;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 1rem;
}

* {
    font-family: sans-serif;
    padding-left: .35rem;
    margin-top: 1rem;
    margin-right: .25rem;
}

.callout,
.callout2,
.callout3,
.callout4 {
    font-style: italic;
    font-size: 1.3rem;
}

#para1 {
    grid-area: p1;
    text-align: justify;
}

#para2 {
    grid-area: p2;
    text-align: justify;
}

#para3 {
    grid-area: p3;
    text-align: justify;
}

#para4 {
    grid-area: p4;
    text-align: justify;
}

#para5 {
    grid-area: p5;
    text-align: justify;
}

#para6 {
    grid-area: p6;
    text-align: justify;
}

#para7 {
    grid-area: p7;
    text-align: justify;
}

#para8 {
    grid-area: p8;
    text-align: justify;
}

#para9 {
    grid-area: p9;
    text-align: justify;
}

#para10 {
    grid-area: p10;
    text-align: justify;
}

#para11 {
    grid-area: p11;
    text-align: justify;
}

#authorBio {
    grid-area: aB;
    text-align: justify;
}
