/* css for log3 */

h1 {
    font-size: 4rem;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 1.5rem;
}

#grid {
    column-count: 4;
    column-gap: 50px;
    column-rule: 1px solid black;
}
