/* css for log3 */

h1 {
    font-size: 4rem;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 1.5rem;
}

#grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 50px;
    text-align: justify;
    font-size: 0.9rem;
    font-family: sans-serif;
}

#p1h, #p2h, #p3h, #p4h {
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    
}

#p1h {
    margin-bottom: 1.3rem;
}
#p2h {
    margin-bottom: 1.3rem;
}
#p3h {
    margin-bottom: 1.3rem;
}
#p4h { 
    margin-bottom: 1.3rem;
}

.g1, .g2, .g3 {
    border-right: 1px solid black;
}

.g1, .g2, .g3, .g4 {
    padding-right: 50px;
}


/* style for log4 */


* {
    font-family: Arial, Helvetica, sans-serif;
}

.log4 .text4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    column-rule: 1px solid black;    
}

.p4 {
    font-size: 0.9rem;
    text-align: justify;
}

.h44 {
    text-decoration: underline;
    font-size: 1.2rem;
}

.ul4 {
    margin-top: 40px;
    margin-bottom: 25px;
}

.h34 {
    text-decoration: underline;
}

span {
    text-decoration: underline;
    font-weight: bold;
}

/* log5 start */

.head {
    padding: 20px;
    background-image: url(/codelogs/frog.webp);
    background-position: 50%, 50%;
    background-size: 6%;
}
li {
    font-size: 0.9rem
}

p{
    font-size: 0.9rem
}
