/* css for log3 */

h1 {
    font-size: 4rem;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 1.5rem;
}

#grid {
    column-count: 4;
    column-height: 200px;
    column-gap: 50px;
    column-rule: 1px solid black;
    text-align: justify;
    font-size: 0.9rem;
    font-family: sans-serif;
}

#p1h, #p2h, #p3h, #p4h {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    
}

#p1h {
    margin-top: -0.9rem;
    margin-bottom: 1.3rem;
}
#p2h {
    margin-bottom: 1.3rem;
}
#p3h {
    margin-bottom: 1.3rem;
}
#p4h {
    margin-top: 1.9rem;
    margin-bottom: 1.3rem;
}