* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    padding: 0;
    margin: 0;
}

header {
width: 100vw;
height: 100vh;
}

#rhodimg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url(Pacific\ Rhododendron\ 1\ -\ Walter\ Siegmund.jpeg);
    background-position: center center;
    background-size: cover;
}

#rhodtitle {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

#rhodtitle h1 {
    position: absolute;
    font-size: 2em;
    color: white;
}