#nutrition {
    border: 2px solid black;
    border-radius: 8px;
    padding: 20px; 
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    align-items: start;
    gap: 16px 20px;
}

.nutrition-label {
    display: flex;
    flex-direction: column;
}

.nutrition-items {

}
.nutrition-values {

 }

 #subheader {
    
 }

 h1 {
    
 }